{% extends "base.html" %}

{% block title %} Home {%endblock%}
{% block style %}home{%endblock%}


{% block content %}
<div class="row row justify-content-between" id="main">
    <div class="col-2" id="left_nav">
        <h4>Kategori Seç</h4>
        <ul class="nav flex-column">
            {% for category in categories %}
            <li class="nav-item">
              <a class="nav-link" href="/home/{{category.id}}"> {{category.categoryName}}</a>
            </li>
            {% endfor %}
         </ul>
    </div>
    <div class="col-10" id="study_area">
            {% for note in filtered_notes %}
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                  <h5 class="card-title">Soru</h5>
                  <p class="card-text"> {{note.data}}</p>
                  <a href="#" class="card-link">A) {{note.opA}} </a>
                  <a href="#" class="card-link">B) {{note.opB}} </a>
                  <a href="#" class="card-link">C) {{note.opC}} </a>
                  <a href="#" class="card-link">D) {{note.opD}} </a>
                </div>
              </div>
            {% endfor %}
    </div>
</div>




{%endblock%}