{% extends "base.html" %}

{% block title %}Home {%endblock%}


{% block content %}
<h1 class="text-center">Notes of {{user.name}}</h1>
<ul class="list-group list-group-flush" id="notes">
{% for note in user.notes %}
<li class="list-group-item d-flex justify-content-between align-items-center">
    {{note.data}}
    <button type="button" class="close btn btn-danger btn-sm" onclick="deleteNote('{{note.id}}')">
        <span aria-hidden="true">&times;</span>
    </button>
</li>
{% endfor %}
</ul>

<form method="post">
    <textarea name="note" id="note" cols="16" rows="4" class="form-control"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">
        Add Note
    </button>
</form>

{%endblock%}