{% extends "base.html" %}

{% block title %}Giriş{%endblock%}
{% block style %}auth{%endblock%}


{% block content %}

<div id="main">
    <form  method="post">
        <h3 class="text-center">
           Giriş
        </h3>
        <div class="form-group">
            <label for="email" class="form-label">E Posta:</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="mailiniz">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Şifre:</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="şifreniz">
        </div>
        <br>
        <button type="submit" class="btn btn-success">Giriş</button>
    </form>
</div>

{%endblock%}