#main{
    width: 100%;
    height: 100vh;
    background-image: url(../static/photos/study.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 0;
    position: absolute;
    left: 0;
    top:0;
  
}

#study_area{
background-color: rgba(250, 250, 242, 0.664);
padding-top: 5rem;
}

#left_nav{
    background-color: rgba(153, 238, 217, 0.664);
    padding-top: 5rem;
    padding-left: 3rem;
}

#left_nav h4{
    color: rgb(4, 65, 51);
    font-weight: bold;
}
#left_nav a{
    color: rgb(151, 19, 112);
    font-weight: bold;
}

#left_nav a:hover{
    color: white;
}
#left_nav a:active{
    color: red;
}

#study_area a{
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-decoration: none;
}

#study_area a:hover{
    color: rgb(226, 223, 10);
    font-weight: 500;
    text-decoration: none;
}